* {
    margin: 0 ;
    padding: 0 ;
}
body {
    font-family: 'Mulish', sans-serif;
    background-color: #D9F7AB;
}
/* css Inicio */
.bodyInicio {
    display: grid;
    grid-template-areas: 
    "cabecera"
    "cuerpoIn"
    "pie"
    ;
}
.pageTopInicio{
    background-color: #82E08D;
    color: black;
    text-align: center;
    grid-area: cabecera;
}
.cuerpoInicio{
    height: 500px;
    width: 100%;
    padding: 1%;
    margin-top: 5%;
    grid-area: cuerpoIn;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
.parrafoInicio{
    height: 40%;
    width: 75%;
    padding: 2%;
    background-color: #E6DA6D;
    font-size: 20px;
    text-align:left;
    line-height: 40PX;
    font-style: italic;
    color: white;
    overflow-y: scroll;
 }
 .parrafoInicio::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
.parrafoInicio::-webkit-scrollbar-track {
    background: #E6DA6D;        /* color of the tracking area */
}
.parrafoInicio::-webkit-scrollbar-thumb {
    background-color: #F2C866;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #E8E4BE;  /* creates padding around scroll thumb */
}
.imagenTronco {
   /*  background-size: cover; */
    height: 40%;
    width: 60%; 
}
.pageBottonInicio{
    background-color: #82E08D;
    color: white;
    grid-area: pie;
}
/* css Contacto */
.bodyContacto {
    display: grid;
    grid-template-areas: 
    "cabeceraContacto"
    "cuerpoContacto"
    "pieContacto"
    ;
}
.pageTopContacto{
    background-color: #82E08D;
    color: black;
    text-align: center;
    grid-area: cabeceraContacto;
}
.cuerpoContacto{
    height: 85%;
    width: 60%;
    background-color: #E6DA6D;
    padding: 5%;
    margin-top: 5%;
    margin-left: 15%;
    grid-area: cuerpoContacto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.pageBottonContacto{
    background-color: #82E08D;
    color: white;
    grid-area: pieContacto;
}
/* css organismos */
.bodyOrganismos {
    display: grid;
    grid-template-areas: 
    "cabeceraOrganismos"
    "cuerpoOrganismos"
    "pieOrganismos"
    ;
}
.pageTopOrganismos{
    background-color: #82E08D;
    color: black;
    text-align: center;
    grid-area: cabeceraOrganismos;
}
.cuerpoOrganismos{
    height: 90%;
    width: 80%;
    font-size: 16px;
    background-color: #E6DA6D;
    padding: 3%;
    margin-top: 5%;
    margin-left: 5%;
    grid-area: cuerpoOrganismos;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.pageBottonOrganismos{
    background-color: #82E08D;
    color: white;
    grid-area: pieOrganismos;
}
.organismo{
    height: 80%;
    width: 80%;
    border-bottom: black;
    background-color: #E8E4BE;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mapa{
    display: none;
}
/* css Productos */
.bodyProductos {
    display: grid;
    grid-template-areas: 
    "cabeceraProductos"
    "cuerpoProductos"
    "pieProductos"
    ;
}
.pageTopProductos{
    background-color: #82E08D;
    color: black;
    text-align: center;
    grid-area: cabeceraProductos;

}
.cuerpoProductos{
    height: 80%;
    width: 80%;
    background-color: #E6DA6D;
    padding: 5%;
    margin-top: 10%;
    margin-left: 2%;
    grid-area: cuerpoProductos;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.pageBottonProductos{
    background-color: #82E08D;
    color: white;
    margin-top: 10%;
    grid-area: pieProductos;
}
.tablaProductos{
    height: 70%;
    width: 80%;
    background-color: #FCDF6A;
    font-size: 14px;
    margin-top: 5%;
    
} 
.encabezados{
    background-color:#E6DA6D;
    font-weight: 600;
}

/* css quienes */
.bodyQuienes {
    display: grid;
    grid-template-areas: 
    "cabeceraQuienes"
    "cuerpoQuienes"
    "pieQuienes"
    ;
}
.pageTopQuienes{
    background-color: #82E08D;
    color: black;
    text-align: center;
    grid-area: cabeceraQuienes;

}
.cuerpoQuienes{
    height: 500px;
    width: 100%;
    padding: 1%;
    margin-top: 5%;
    grid-area: cuerpoQuienes;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
.pageBottonQuienes{
    background-color: #82E08D;
    color: white;
    grid-area: pieQuienes;
}
.parrafoQuienes {
    height: 40%;
    width: 80%;
    padding: 2%;
    background-color: #E6DA6D;
    font-size: 20px;
    text-align:left;
    line-height: 30PX;
    font-style: italic;
    color: black;
    overflow-y: scroll;
}
.parrafoQuienes::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
.parrafoQuienes::-webkit-scrollbar-track {
    background: #E8E4BE;        /* color of the tracking area */
  }
  
.parrafoQuienes::-webkit-scrollbar-thumb {
    background-color: #F2C866;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #E8E4BE;  /* creates padding around scroll thumb */
  }
.marcar {
    color: white;
    font-style: italic;
}
.imagenAserradero {
     height: 40%;
     width: 60%; 
 }
ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items:center;
    list-style: none;
    height: 5vh;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
}
@media only screen and (min-width: 780px){
    .cuerpoInicio{
        height: 80%;
        flex-direction: row;
        margin-top: 2%;
        justify-content: space-evenly;
        align-items:center;
    }
    .parrafoInicio{
        height: 50%;
        width: 40%;
    }
    .imagenTronco {
        height: 95%;
        width: 40%; 
    }
    .pageTopInicio{
        margin-top: 0;
    }
    .pageBottonInicio{
            margin-top: 7%;
        }
    .cuerpoQuienes{
        height: 300px;
        flex-direction: row;
        margin-top: 2%;
        justify-content: space-evenly;
        align-items:flex-start;
        line-height: 40PX;
    }
    .parrafoQuienes{
        height: 85%;
        width: 40%;
        text-align: justify;
    }
    .imagenAserradero {
         height: 85%;
         width: 40%; 
     }
    .pageTopQuienes{
        margin-top: 0;
    }
    .pageBottonQuienes{
            margin-top: 7%;
        }
    .cuerpoContacto{
        height: 50%;
        width: 40%;
    }
    .cuerpoOrganismos{
        margin-top: 2%;
        font-size: 20px;
    }
    .organismo{
        width: 95%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .mapa{
        display:flex;
    }
    .pageBottonOrganismos{
        margin-top: 5%;
    }
    .cuerpoProductos{
        height: 65%;
        width: 80%;
        margin-top: 2%;
    }
    .tablaProductos{
        margin-top: 1%;
        font-size: 24px;
    }
    .pageBottonProductos{
        margin-top: 3%;
    }
}
