.bodyContacto {
    display: grid;
    grid-template-areas: 
    "cabecera"
    "cuerpoContacto"
    "pieContacto"
    ;
}

.cuerpoContactos{
    height: 100%;
    width: 90%;
    padding: 1%;
    margin-top: 3%;
    margin-left: 2%;
    grid-area: cuerpoContacto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;


}

.pageBottonContacto{
    background-color: #82E08D;
    grid-area: pieContacto;
}


    @media only screen and (min-width: 780px){
    .pageBottonContacto{
            margin-top: 3%;
        }
        .topContacto{
            height: 21%;
        }
        .cuerpoContactos{
            height: 300%;
            width: 100%;
    
        }
        }